<!-- register.component.html -->
<div class="container mt-5">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input type="text" class="form-control mb-2" placeholder="Nom" formControlName="nom" />
      <input type="text" class="form-control mb-2" placeholder="Prénom" formControlName="prenom" />
      <input type="email" class="form-control mb-2" placeholder="Email" formControlName="email" />
      <input type="password" class="form-control mb-3" placeholder="Mot de passe" formControlName="motDePasse" />
      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </div>
  